body{
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    vertical-align: center;
}

.taquin{
    width: 70%;
    margin-left: 30%;
    align-items: center;
    text-align: center;
    /*justify-content: center;*/
    /*align-content: center;*/
    vertical-align: center;
}

.caseChiffre {
    font-size: 2.5em;
    border: 1px double black;
    height: 100px;
    background-color: burlywood;
    vertical-align: center;
    padding-top: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    align-content: center;
    vertical-align: center;
    align-items: center;
    text-align: center;
}

.vide{
    background-color: red;
}

#solubleOrNot{
    font-weight: bold;
    font-size: 1.5em;
}

.caseImage{
    border: 1px solid black;
}

.resultatImage img{
    width: 200px;
}

.resultatImage{
    font-weight: bold;
    font-size: 1.1em;
}